<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <title>Holocaust Art Memorial</title>
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="holocaust-art-photos-div">
      <div class="holocaust-art-photos-container" id="photo1"></div>
    </div>
    <h1 id="holocaust-art-photos-name"></h1>
  </body>
</html>
<script type="text/javascript" src="js/visualization.js"></script>
